<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="mydatabase" connectionString="DataSource=./Students.db" providerName="System.Data.SQLite"/>
	</connectionStrings>
	<entityFramework>
		<providers>
		   <provider invariantName="System.Data.SqlClient" type="System.data.Entity.SqlServer.SqlProviderServieces, EntityFramework.SqlServer"/>
		   <provider invariantName="System.Data.SqlLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/">
		</providers>
	</entityFramework>
</configuration>